* {
  text-align: center;
  text-decoration: none !important;
  list-style: none;
  font-size: 16px;
}

.bg-dark {
  background-color: #343a40 !important;
  padding-left: 2% !important;
  font-size: 20px;
}
h1 {
  margin-bottom: 3% !important;
}

/* CSS NAVBAR */
.navLink {
  color: #9cbad8 !important;
  font-size: 20px;
  margin: 0 5px;
}
.selectedLink {
  color: #faad79 !important;
}

/* Components */

.productsContent,
.aboutContent,
.homeContent {
  padding: 50px;
}
.productCard {
  border: 2px dashed #343a40;
  border-radius: 15px;
  margin: 2%;
  padding: 2% 0;
}

.listProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.productDetails {
  margin: 4% 0;
}
.productImg {
  width: 300px;
  margin-bottom: 40px;
}

.prodName {
  margin: 40px;
}

.productLink {
  color: #9cbad8;
  text-decoration: none !important;
}

.productLink:hover {
  color: #faad79;
}
